<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.cpreston.vaultreview.yearly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/cpreston/dev/mbs_automation/scripts/review_reminder.sh</string>
    <string>yearly</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Month</key><integer>1</integer>
    <key>Day</key><integer>1</integer>
    <key>Hour</key><integer>9</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/cpreston/Vaults/storage_mbs/admin/reviews/.review_reminder.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/cpreston/Vaults/storage_mbs/admin/reviews/.review_reminder.err.log</string>
</dict>
</plist>
